@use '../node_modules/utopia-core-scss/src/utopia' as utopia;
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&family=Noto+Sans+Symbols&family=Noto+Sans+Symbols+2&display=swap');

// Utopia type scale, space scale, and grid using spacing scale
// https://utopia.fyi/grid/calculator?c=330,18,1.2,1500,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12

$min-width: 352;
$max-width: 1258;
$min-font-size: 16;
$max-font-size: 17;

:root {
  @include utopia.generateTypeScale((
    "minWidth": $min-width,
    "maxWidth": $max-width,
    "minFontSize": $min-font-size,
    "maxFontSize": $max-font-size,
    "minTypeScale": 1.125,
    "maxTypeScale": 1.2,
    "positiveSteps": 4,
    "negativeSteps": 2,
    /* Optional params */
    "relativeTo": "viewport",
    "prefix": "step-",
  ));

  @include utopia.generateSpaceScale((
    "minWidth": $min-width,
    "maxWidth": $max-width,
    "minSize": $min-font-size,
    "maxSize": $max-font-size,
    "positiveSteps": (1.5, 2, 3, 4, 6), // m, l, xl, 2xl, 3xl
    "negativeSteps": (0.75, 0.5, 0.25, 0.125, 0.0625), // xs, 2xs, 3xs, 4xs, 5xs
    /* Optional params */
    "customSizes": ("s-l", "s-xl", "s-2xl"),
    "usePx": false,
    "relativeTo": "viewport",
    "prefix": "space-",
    "allPairs": false,
  ));
}

:root {
  --grid-max-width: 78.63rem;
  --grid-gutter: var(--space-s-l, clamp(1rem, 0.5629rem + 1.9868vw, 2.125rem));
  --grid-columns: 12;
}

@mixin u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

@mixin u-grid {
  display: grid;
  column-gap: var(--grid-gutter); // I used column-gap over gap to remove any inter-row spacing
  grid-template-columns: repeat(var(--grid-columns), 1fr);
}

// Be generous and cover all mobile devices
$tablet-breakpoint: 900px;
$mobile-breakpoint: 650px;

:root {
  --popout-begin: 1;
  --content-begin: 3;
  --inset-begin: 4;
  --inset-x-begin: 5;
  --inset-x-end: 9;
  --inset-end: 10;
  --content-end: 11;
  --popout-end: 13;
  --grid-middle: 6;

  --subgrid-content-begin: 1;
  --subgrid-inset-begin: 2;
  --subgrid-inset-x-begin: 3;
  --subgrid-inset-x-end: 7;
  --subgrid-inset-end: 8;
  --subgrid-content-end: 9;
  --subgrid-popout-end: 13;

  --toc-display: block;
  --footnote-begin: var(--subgrid-content-end);

  @media screen and (max-width: $tablet-breakpoint) {
    --content-begin: 1;
    --content-end: 13;
    --toc-display: none;
    --footnote-begin: 10;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    --inset-begin: 2;
    --inset-end: 12;
    --inset-x-begin: 2;
    --inset-x-end: 12;
    --content-begin: 1;
    --content-end: 13;
    --popout-begin: 1;
    --popout-end: 13;

    --subgrid-content-begin: 1;
    --subgrid-content-end: 13;
    --subgrid-inset-begin: 3;
    --subgrid-inset-end: 11;
    --footnote-begin: 1;

    --toc-display: none;
  }
}

:root {
  --serif-font: 'Source Serif 4', 'Noto Serif', serif;
  --sans-font: 'Source Sans 3', 'Noto Sans', sans-serif;
  --mono-font: 'Source Code Pro', monospace;
  --symbol-font: "Noto Sans Symbols 2", "Noto Sans Symbols", sans-serif;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-style: normal;
}

// https://github.com/tokyo-night/tokyo-night-vscode-theme
// Terminal colors: red, green, yellow, blue, magenta, cyan, orange (special one)

//// Dark theme
$tn-dark-bg: #1a1b26;
$tn-dark-bg-contrast: color.darken($tn-dark-bg, 5%);
$tn-dark-bg-contrast1: color.darken($tn-dark-bg, 7%);
$tn-dark-bg-highlight: color.lighten($tn-dark-bg, 7%);
$tn-dark-fg: color.lighten(#c0caf5, 5%);
$tn-dark-fg-contrast: color.lighten(#a9b1d6, 5%);

$tn-dark-red: #f7768e;
$tn-dark-green: #9ece6a;
$tn-dark-yellow: #e0af68;
$tn-dark-blue: #7aa2f7;
$tn-dark-magenta: #bb9af7;
$tn-dark-cyan: #7dcfff;
$tn-dark-orange: #ff9e64;

//// Light theme
$tn-light-bg: #e6e7ed;
$tn-light-bg-contrast: color.lighten($tn-light-bg, 5%);
$tn-light-bg-contrast1: color.lighten($tn-light-bg, 7%);
$tn-light-bg-highlight: color.darken($tn-light-bg, 7%);
$tn-light-fg: color.darken(#343b58, 5%);
$tn-light-fg-contrast: color.lighten(#40434f, 5%);

$tn-light-red: #8c4351;
$tn-light-green: #385f0d;
$tn-light-yellow: #8f5e15;
$tn-light-blue: #2959aa;
$tn-light-magenta: #5a3e8e;
$tn-light-cyan: #0f4b6e;
$tn-light-orange: #965027;

@mixin color-scheme-light {
  --bg:           #{$tn-light-bg};
  --bg-contrast:  #{$tn-light-bg-contrast};
  --bg-contrast1: #{$tn-light-bg-contrast1};
  --bg-highlight: #{$tn-light-bg-highlight};
  --fg:           #{$tn-light-fg};
  --fg-contrast:  #{$tn-light-fg-contrast};
  --red:          #{$tn-light-red};
  --green:        #{$tn-light-green};
  --yellow:       #{$tn-light-yellow};
  --blue:         #{$tn-light-blue};
  --magenta:      #{$tn-light-magenta};
  --cyan:         #{$tn-light-cyan};
  --orange:       #{$tn-light-orange};
  --accent-color: var(--orange);
  --accent-color-contrast: var(--yellow);
  --accent-color-2: var(--blue);
  --content-font-weight: 400;
  --bold-font-weight: 600;
  --content-letter-spacing: -0.01ch;
}

@mixin color-scheme-dark {
  --color-scheme: dark;
  --bg:           #{$tn-dark-bg};
  --bg-contrast:  #{$tn-dark-bg-contrast};
  --bg-contrast1: #{$tn-dark-bg-contrast1};
  --bg-highlight: #{$tn-dark-bg-highlight};
  --fg:           #{$tn-dark-fg};
  --fg-contrast:  #{$tn-dark-fg-contrast};
  --red:          #{$tn-dark-red};
  --green:        #{$tn-dark-green};
  --yellow:       #{$tn-dark-yellow};
  --blue:         #{$tn-dark-blue};
  --magenta:      #{$tn-dark-magenta};
  --cyan:         #{$tn-dark-cyan};
  --orange:       #{$tn-dark-orange};
  --accent-color: var(--blue);
  --accent-color-contrast: var(--cyan);
  --accent-color-2: var(--orange);
  --content-font-weight: 370;
  --bold-font-weight: 550;
  --content-letter-spacing: 0ch;
}

:root {
  color-scheme: --var(--color-scheme);
  @include color-scheme-light;

  /* page preference is "dark" */
  &:has(#color-scheme input[value="dark"]:checked) {
    @include color-scheme-dark;
  }

  @media (prefers-color-scheme: dark) {
    &:has(#color-scheme input[value="dark"]:checked) {
      @include color-scheme-dark;
    }
  }
  --content-line-height: 1.55;
  --blockquote-line-height: 1.5;
  --heading-line-height: 1.25;
}

@import "../node_modules/highlight.js/scss/tokyo-night-light.scss";
@media (prefers-color-scheme: dark) {
  @import "../node_modules/highlight.js/scss/tokyo-night-dark.scss";
}

/* https://jakelazaroff.com/words/my-modern-css-reset/ */
@layer reset {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
  }

  body {
    line-height: 1.5;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
  }

  input, button, textarea, select {
    font: inherit;
    letter-spacing: inherit;
    word-spacing: inherit;
    color: currentColor;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  ol, ul {
    list-style: none;
  }
}

html {
  font-size: 16px;
}

body {
  background-color: var(--bg-contrast);
  color: var(--fg);
  font-family: var(--serif-font);
  line-height: var(--content-line-height);
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Make the footer stick to the bottom of the page */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--sans-font);
  font-weight: var(--bold-font-weight);
  text-wrap: balance;
  line-height: var(--heading-line-height);
}

$page-elements: p, ul, ol, blockquote, figure, pre, details, "div.callout";

h1 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-2);
  margin-top: var(--space-xl);
  margin-bottom: var(--space-l);
}

h3 {
  font-size: var(--step-1);
  margin-top: var(--space-l);
  margin-bottom: var(--space-m);
}

h4 {
  font-size: var(--step-0);
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
}

h5 {
  font-size: var(--step-0);
  margin-top: var(--space-m);
  margin-bottom: var(--space-s);
}

// Whatever element comes immediately before a heading should not contribute to the heading's margin-top
@each $element in $page-elements {
  #{$element}:has(+ h2) {
    margin-bottom: 0;
  }
}

@each $element in $page-elements {
  #{$element}:has(+ h3) {
    margin-bottom: 0;
  }
}

@each $element in $page-elements {
  #{$element}:has(+ h4) {
    margin-bottom: 0;
  }
}

@each $element in $page-elements {
  #{$element}:has(+ h5) {
    margin-bottom: 0;
  }
}

h2 + h3 {
  margin-top: 0;
}

h3 + h4 {
  margin-top: 0;
}

h4 + h5 {
  margin-top: 0;
}

strong {
  font-weight: var(--bold-font-weight);
}

p {
  font-size: var(--step-0);
  text-wrap: pretty;
  margin-bottom: var(--space-s);
  hyphens: auto;
}

ol, ul {
  list-style: none;
  margin-bottom: var(--space-s);
}

li {
  margin-bottom: var(--space-s);
  margin-left: var(--space-l);
  font-size: var(--step-0);
}

ul > li:before {
  // content: "✶";
  // content: "◍";
  // content: "›";
  content: "◉";
  font-family: var(--symbol-font);
  color: var(--accent-color-2);
  font-size: var(--step--1);
  position: absolute;
  margin-left: calc(var(--space-l) * -1);
  margin-top: 0.5ex;
}

ul > li:last-child {
  margin-bottom: 0;
}

ul > li > ul {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

ul > li > ul:last-child {
  margin-bottom: 0;
}

ul > li > ul > li {
  font-size: var(--step--1);
  margin-bottom: var(--space-xs);
  &:before {
    //content: "◍";
    content: "◎";
    font-size: var(--step--1);
    font-family: var(--symbol-font);
    margin-top: 0.25ex;
  }
}

@counter-style custom-circled {
  system: fixed;
  symbols: '⓵' '⓶' '⓷' '⓸' '⓹' '⓺' '⓻' '⓼' '⓽' '⓾';
  suffix: " ";
}

/*
@counter-style custom-circled {
  system: fixed;
  symbols: "①" "②" "③" "④" "⑤" "⑥" "⑦" "⑧" "⑨" "⑩";
  suffix: " ";
}
*/

ol {
  list-style: none;
}

ol > li::before {
  content: counter(list-item, custom-circled);
  font-family: var(--symbol-font);
  color: var(--accent-color-2);
  font-size: var(--step-2);
  position: absolute;
  margin-left: calc(var(--space-l) * -1);
  margin-top: -0.2ex;
}

ol > li {
  margin-left: var(--space-l);
}

ol > li:last-child {
  margin-bottom: 0;
}

ol > li > ul {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
}

ol > li > ul:last-child {
  margin-bottom: 0;
}

ol > li > ul > li {
  margin-left: var(--space-l);
  margin-bottom: var(--space-xs);
  &:before {
    margin-left: calc(var(--space-l) * -1);
  }
}

// https://practicaltypography.com/block-quotations.html
blockquote {
  * {
    font-size: calc(var(--step-0) * 0.9);
    line-height: var(--blockquote-line-height);
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul > li:before {
    margin-top: 0.43ex;
  }

  background-color: var(--bg-contrast);
  border-top: 1px solid var(--bg-highlight);
  border-bottom: 1px solid var(--bg-highlight);
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
  padding-left: var(--space-l);
  padding-right: var(--space-l);
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  margin-bottom: var(--space-s);
  // border-left: var(--space-3xs) solid var(--accent-color);
}

figure {
  margin-top: var(--space-s);
  margin-bottom: var(--space-s);
  text-align: center;
  img {
    margin: auto;
  }
  img.padding {
    background: white;
    padding: var(--space-s);
  }
  video {
    margin: auto;
  }
  figcaption {
    margin-top: var(--space-s);
    > p {
      color: var(--fg-contrast);
      font-size: var(--step--1);
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  figure img.padding {
    padding: 0;
  }
}

// https://developer.mozilla.org/en-US/docs/Web/HTML/Reference/Elements/hr
hr {
  border: none;
  border-top: 3px double var(--fg-contrast);
  color: var(--accent-color);
  overflow: visible;
  text-align: center;
  height: 1ex;
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
  &::after {
    font-family: var(--symbol-font);
    background: var(--bg-contrast1);
    content: "⁂";
    padding: 0 var(--space-s);
    position: relative;
    top: -1.8ex;
    font-size: var(--step--1);
  }
}

/* Link styling stolen from: https://sqlsync.dev/posts/stop-syncing-everything/ */
/*
a {
  position: relative;
  display: inline;
  text-decoration: none;
  color: var(--accent-color);
  --bar-height: 0.15cap;
  --bar-offset: 0.1cap;
  background: linear-gradient(45deg,var(--accent-color-contrast) 10%,var(--accent-color)) no-repeat right bottom / 0 var(--bar-height);
  background-position-x: left;
  background-position-y: bottom var(--bar-offset);
  transition: background-size 0.1s ease-in-out, color 0.1s ease-in-out;
  // padding-bottom: var(--bar-offset);
  &:hover {
    color: var(--accent-color-contrast);
    background-size: 100% var(--bar-height);
  }
}
*/

// The above link styling was way too flashy, stick with something more subtle
// Inspired by: https://thinkingmachines.ai/blog/defeating-nondeterminism-in-llm-inference/
a {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, var(--accent-color) 30%, transparent);
  text-underline-offset: 1px;
  &:hover {
    text-decoration-color: var(--accent-color);
    transition: text-decoration 0.2s ease-in-out, text-decoration-color 0.2s ease-in-out;
  }
}

/*
a:has(img) {
  background: none;
  color: inherit;
  &:hover {
    background: none;
    color: inherit;
  }
}
*/

::selection {
  background-color: var(--bg-highlight);
}

pre {
  margin-bottom: var(--space-m);
  code {
    font-family: var(--mono-font);
  }
}
pre:has(code) {
  padding: var(--space-s);
}

p > code, li > code {
  font-family: var(--mono-font);
  font-size: var(--step--1);
  padding-left: var(--space-3xs);
  padding-right: var(--space-3xs);
  margin-left: var(--space-4xs);
  margin-right: var(--space-4xs);
  padding-top: var(--space-4xs);
  padding-bottom: var(--space-4xs);
  background-color: var(--bg);
}

details {
  margin-bottom: var(--space-s);
  padding-left: var(--space-l);
  padding-right: var(--space-l);
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
  background-color: var(--bg-contrast);
  summary {
    font-size: var(--step-0);
    cursor: pointer;
    list-style: none;
    &::marker, &::-webkit-details-marker {
      display: none;
    }
    &::before{
      content: "❯";
      font-family: var(--symbol-font);
      color: var(--accent-color);
      margin-right: var(--space-s);
      display: inline-block;
      transition: transform 0.2s ease;
    }
  }
  > *:last-child {
    margin-bottom: 0;
  }
  &:open summary {
    margin-bottom: var(--space-m);
    &::before {
      transform: rotate(90deg);
    }
  }
}

div.callout {
  background-color: var(--bg-contrast);
  padding: var(--space-s);
  border-radius: var(--space-2xs);
  border: 1px solid var(--bg-highlight);
  margin-bottom: var(--space-m);
  .callout-title {
    font-size: var(--step-1);
    font-weight: var(--bold-font-weight);
    margin-bottom: var(--space-2xs);
    line-height: 1;
  }
  .callout-content > *:last-child {
    margin-bottom: 0;
  }
}

.header-container {
  @include u-container;
  @include u-grid;
  width: 100%;
  background-color: var(--bg-contrast);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  header {
    grid-column: var(--content-begin) / var(--content-end);
    display: flex;
    flex-direction: row;
    .spacer {
      flex-grow: 1;
    }
    .title a {
      text-align: left;
      font-size: var(--step-3);
      font-family: var(--sans-font);
      font-weight: var(--bold-font-weight);
      color: var(--fg);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--fg);
      }
    }
    .contact {
      display: grid;
      align-items: center;
    }
    .contact p {
      text-align: right;
      margin: 0;
      font-size: var(--step--1);
      font-family: var(--sans-font);
    }
    // https://www.smashingmagazine.com/2024/03/setting-persisting-color-scheme-preferences-css-javascript/
    #color-scheme {
      margin-left: var(--space-s);
      display: grid;
      align-items: center;
      input[type="radio"] {
        appearance: none;
      }
      .light {
        display: inline-block;
        background: var(--bg-highlight);
        padding-left: var(--space-2xs);
        padding-right: var(--space-2xs);
        padding-top: var(--space-3xs);
        padding-bottom: var(--space-3xs);
        border-radius: var(--space-2xs);
        cursor: pointer;
        &:before {
          content: "🌞";
          // content: "☼";
          // content: "☉";
          // color: var(--orange);
          font-size: var(--step--1);
        }
      }
      .dark {
        display: inline-block;
        background: var(--blue);
        padding-left: var(--space-2xs);
        padding-right: var(--space-2xs);
        padding-top: var(--space-3xs);
        padding-bottom: var(--space-3xs);
        border-radius: var(--space-2xs);
        cursor: pointer;
        &:before {
          content: "🌙";
          // content: "☾";
          // color: var(--blue);
          font-size: var(--step--1);
        }
      }
    }
  }
}

:root:has(#color-scheme input[value="dark"]:checked) {
  --color-scheme: dark;
  #color-scheme .dark{
    display: none;
  }
}

:root:has(#color-scheme input[value="light"]:checked) {
  --color-scheme: light;
  #color-scheme .light{
    display: none;
  }
}

.footer-container {
  background: var(--bg-contrast);
  padding-top: var(--space-2xs);
  padding-bottom: var(--space-2xs);
  font-size: var(--step--1);
  color: var(--fg);
  border-bottom: var(--space-3xs) solid var(--accent-color);
  font-family: var(--sans-font);
  footer {
    @include u-container;
    @include u-grid;
    .footer-content {
      text-align: center;
      grid-column: 1 / -1;
    }
  }
}

.homepage-container {
  background-color: var(--bg-contrast1);
  .homepage {
    @include u-container;
    @include u-grid;
    .homepage-content {
      margin-top: var(--space-s);
      //margin-bottom: var(--space-s);
      grid-column: var(--content-begin) / var(--content-end);
    }
  }
  hr + h2 {
    margin-top: 0;
  }
}

.section {
  margin-bottom: var(--space-m);
  .section-header {
    margin-bottom: var(--space-xs);
    .section-title {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;
      &::before {
        content: "§ ";
        color: var(--accent-color);
        margin-left: -1.4ch;
      }
      &::after {
        // content: "⁂"; asterism
        // content: "§";
        content: "·";
        font-size: var(--step-1);
        color: var(--accent-color);
        margin-right: var(--space-2xs);
        margin-left: var(--space-2xs);
      }
    }
    .section-description {
      color: var(--fg-contrast);
      font-size: var(--step--1);
      position: relative;
      top: -0.2ex;
      display: inline-block;
    }
  }
}

@media screen and (max-width: $mobile-breakpoint) {
  .section .section-header .section-title::before {
    display: none;
  }
}

.page {
  .page-title {
    display: inline-block;
    margin-bottom: var(--space-3xs);
    margin-top: 0;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: revert;
      }
    }
    &::after {
      /* content: "⸙"; */
      /* content: "·"; */
      // content: "☼";
      content: "·";
      margin-right: var(--space-2xs);
      margin-left: var(--space-2xs);
      color: var(--accent-color);
    }
  }
  .page-date {
    color: var(--fg-contrast);
    font-size: var(--step--1);
    position: relative;
    top: -0.3ex;
    display: inline-block;
  }
  .page-description {
    font-size: var(--step--1);
    p {
      font-size: var(--step--1);
    }
    margin-bottom: var(--space-xs);
  }
}

@mixin hashtag($content) {
  &::before {
    content: $content;
    color: var(--accent-color);
    opacity: 0.5;
    margin-right: var(--space-2xs);
  }
}

a.anchor {
  color: inherit;
  transition: color 0.1s ease-in-out;
  text-decoration: none;

  &:hover {
    color: var(--accent-color);
  }

  &::after {
    // content: "🔗";
    // content: "☉";
    // content: "✶";
    // content: "⁂";
    margin-left: var(--space-2xs);
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    position: relative;
    top: -0.15cap;
    font-size: 75%;
  }

  &:hover::after {
    opacity: 1;
  }
}

.article-title-container {
  @include u-container;
  @include u-grid;
  margin-top: var(--space-m);
  margin-bottom: var(--space-m);
  .article-title {
    grid-column: var(--content-begin) / var(--content-end);
    h1 {
      @include hashtag("#");
      margin-bottom: var(--space-2xs);
      margin-top: 0;
    }
    .article-description {
      p {
        font-size: var(--step-1);
        margin-bottom: 0;
      }
      margin-bottom: var(--space-2xs);
    }
    .article-date {
      color: var(--fg-contrast);
      font-size: var(--step-0);
      margin-bottom: 0;
    }
  }
}

.article-background {
  background-color: var(--bg-contrast1);
}

.article-content-container {
  background-color: var(--bg-contrast1);
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
  @include u-container;
  @include u-grid;
}

.toc {
  grid-column: 1 / 3;
  display: var(--toc-display);
  position: sticky;
  align-self: start;
  top: var(--space-m);
  font-family: var(--sans-font);
  max-height: 95vh;
  overflow-y: auto;
  ul > li {
    &::before {
      content: none;
    }
    margin-left: 0;
    margin-bottom: var(--space-2xs);
    font-size: var(--step--1);
    a {
      text-decoration: none;
      color: var(--fg-contrast);
      &:hover {
        text-decoration: underline;
      }
    }
  }
  ul > li > ul {
    margin-left: var(--space-2xs);
    margin-top: 0;
    > li {
      margin-bottom: var(--space-3xs);
      font-size: var(--step--2);
    }
  }

  // Active TOC link styling
  a.active {
    color: var(--accent-color) !important;
    font-weight: var(--bold-font-weight);
    position: relative;

    &::before {
      content: "→";
      margin-right: var(--space-3xs);
      color: var(--accent-color);
    }
  }
}

.article-content {
  display: grid;
  grid-column: var(--content-begin) / -1;
  grid-template-columns: subgrid;
  letter-spacing: var(--content-letter-spacing);
  font-weight: var(--content-font-weight);
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }

  ul, ol {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }

  sup.footnote-reference {
    font-family: var(--sans-font);
    //vertical-align: baseline;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    background-color: var(--bg);
    margin-left: var(--space-3xs);
    a {
      text-decoration: none;
    }
  }

  div.footnote-definition {
    grid-column: var(--footnote-begin) / -1;
    color: var(--fg-contrast);
    font-family: var(--sans-font);
    sup {
      float: left;
      margin-right: var(--space-3xs);
      padding-left: 0.2rem;
      padding-right: 0.2rem;
      background-color: var(--bg);
      color: var(--accent-color);
      font-size: var(--step--2);
    }
    p {
      font-size: var(--step--1);
      margin-bottom: var(--space-2xs);
    }
  }

  h2, h3, h4, h5 {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
    display: inline-block;
    width: fit-content;
  }

  h2 {
    @include hashtag("##");
  }

  h3 {
    @include hashtag("###");
  }

  h4 {
    @include hashtag("####");
  }

  h5 {
    @include hashtag("#####");
  }

  blockquote {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
  figure, figure.content {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
  figure.popout {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-popout-end);
  }
  figure.inset {
    grid-column: var(--subgrid-inset-begin) / var(--subgrid-inset-end);
  }
  figure.inset-x {
    grid-column: var(--subgrid-inset-x-begin) / var(--subgrid-inset-x-end);
  }
  figure {
    .gallery-grid {
      // display: flex;
      // flex-direction: column;
      // gap: var(--space-2xs);
      box-sizing: border-box;
    }

    .gallery-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: var(--space-3xs);
      margin-bottom: var(--space-3xs);
      &:last-child {
        margin-bottom: 0;
      }
    }

    .gallery-row img {
      height: auto;
      // max-height: 300px;
      width: 100%;
      display: block;
      object-fit: contain;
      cursor: pointer;
    }
  }
  details {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
  pre {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
  div.callout {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
  div.twitter-tweet {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
    margin: auto; // Center the tweet
    margin-bottom: var(--space-m) !important; // need to override the style that's applied in the HTML
  }
  hr {
    grid-column: var(--subgrid-content-begin) / var(--subgrid-content-end);
  }
}

@mixin badge {
  padding-bottom: var(--space-5xs);
  padding-top: var(--space-5xs);
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
  border-radius: var(--space-3xs);
  font-weight: var(--bold-font-weight);
  font-size: var(--step--1);
  margin-left: var(--space-2xs);
  margin-right: var(--space-2xs);
  font-family: var(--sans-font);
  &::selection {
    color: var(--fg);
  }
}

/* This badge type is only used on the homepage */
.badge-new {
  @include badge;
  background-color: var(--accent-color-2);
  color: var(--bg-contrast1);
  position: relative;
  top: -0.4ex;
  padding-left: var(--space-2xs);
  padding-right: var(--space-2xs);
  font-size: var(--step--1);
}
