@use "sass:color";
// Config
@import "../node_modules/@picocss/pico/scss/variables";

// Theming (construct our own theme based on default.scss)
// @import "../node_modules/@picocss/pico/scss/themes/default";

/**
 * Theme: custom, vighneshiyer
 */

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

// Viewports

$viewports: (
  sm: 510px,
  md: 700px,
  lg: 920px,
  xl: 1000px
);

// Variables
@import "../node_modules/@picocss/pico/scss/themes/default/colors";

// Commons styles
@import "../node_modules/@picocss/pico/scss/themes/default/styles";
:root {
  --font-size: 0.95rem;
  //--font-family: Helvetica, Arial, sans-serif;
  --font-family: sans-serif;
  --typography-spacing-vertical: 0.8rem;
}
h1 {
  --font-size: 1.4rem;
  --typography-spacing-vertical: 1rem;
}

h2 {
  --font-size: 1.2rem;
  --typography-spacing-vertical: 1rem;
  --font-weight: 500;
  border-bottom: 1px solid #d3d3d3;
}

h3 {
  --font-size: 1.1rem;
  --typography-spacing-vertical: 1rem;
  --font-weight: 500;
}

h4 {
  --font-size: 1rem;
  --typography-spacing-vertical: 1rem;
  --font-weight: 500;
}

h5 {
  --font-size: 1.125rem;
  --typography-spacing-vertical: 1rem;
}

// Light theme (Default)
// Can be forced with data-theme="light"
@import "../node_modules/@picocss/pico/scss/themes/default/light";

// Dark theme (Auto)
// Automatically enabled if user has Dark mode enabled
@import "../node_modules/@picocss/pico/scss/themes/default/dark";
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    @include dark;
  }
}

// Dark theme (Forced)
// Enabled if forced with data-theme="dark"
[data-theme="dark"] {
  @include dark;
}

// Layout
@import "../node_modules/@picocss/pico/scss/layout/document"; // html
@import "../node_modules/@picocss/pico/scss/layout/sectioning"; // body, header, main, footer
@import "../node_modules/@picocss/pico/scss/layout/container"; // .container, .container-fluid
@import "../node_modules/@picocss/pico/scss/layout/section"; // section
@import "../node_modules/@picocss/pico/scss/layout/grid"; // .grid
@import "../node_modules/@picocss/pico/scss/layout/scroller"; // figure

// Content
@import "../node_modules/@picocss/pico/scss/content/typography"; // a, headings, p, ul, blockquote, ...
@import "../node_modules/@picocss/pico/scss/content/embedded"; // audio, canvas, iframe, img, svg, video
@import "../node_modules/@picocss/pico/scss/content/button"; // button, a[role=button], type=button, type=submit ...
//@import "../node_modules/@picocss/pico/scss/content/form"; // input, select, textarea, label, fieldset, legend
//@import "../node_modules/@picocss/pico/scss/content/form-checkbox-radio"; // type=checkbox, type=radio, role=switch
@import "../node_modules/@picocss/pico/scss/content/form-alt-input-types"; // type=color, type=date, type=file, type=search, ...
@import "../node_modules/@picocss/pico/scss/content/table"; // table, tr, td, ...
@import "../node_modules/@picocss/pico/scss/content/code"; // pre, code, ...
@import "../node_modules/@picocss/pico/scss/content/miscs"; // hr, template, [hidden], dialog, canvas

// Components
@import "../node_modules/@picocss/pico/scss/components/accordion"; // details, summary
@import "../node_modules/@picocss/pico/scss/components/card"; // article
@import "../node_modules/@picocss/pico/scss/components/modal"; // dialog
@import "../node_modules/@picocss/pico/scss/components/nav"; // nav
@import "../node_modules/@picocss/pico/scss/components/progress"; // progress
@import "../node_modules/@picocss/pico/scss/components/dropdown"; // dropdown

// Utilities
@import "../node_modules/@picocss/pico/scss/utilities/loading"; // aria-busy=true
@import "../node_modules/@picocss/pico/scss/utilities/tooltip"; // data-tooltip
@import "../node_modules/@picocss/pico/scss/utilities/accessibility"; // -ms-touch-action, aria-*
@import "../node_modules/@picocss/pico/scss/utilities/reduce-motion"; // prefers-reduced-motion

.photoswipe-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.container {
    padding-top: 0;
}

header {
  padding-top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  h1 {
    margin-top: 0.25rem;
    margin-bottom: 0rem;
    font-size: 1.6rem;
    a {
      color: var(--contrast-hover);
    }
  }
  p {
    margin-bottom: 0rem;
    margin-top: 0.25rem;
    text-align: right;
    font-size: 0.8rem;
  }
}

hr {
  border-top: 1px solid var(--contrast);
}

.header-link {
  display: inline;
  margin-left: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
  position: relative;
  bottom: 0.1rem;
}

.post-time {
  font-size: 0.8rem;
  position: relative;
  bottom: 0.05rem;
  margin-left: 0.5rem;
}

.post-time-article {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--muted-color);
}

article {
  background: none;
  box-shadow: none;
  margin-bottom: 0;
  padding-bottom: 1rem;
  margin-top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  h1 {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
}

body > main {
  padding-bottom: 1rem;
}

blockquote > ul {
  margin-bottom: 0;
}

blockquote {
  > *:last-child {
    margin-bottom: 0;
  }
}

code {
  padding: 0.1rem 0.3rem;
}

figure {
  text-align: center;
  margin-bottom: 1rem;
}

// https://flowbite.com/docs/components/badge/
@mixin badge {
  padding-bottom: .125rem;
  padding-top: .125rem;
  padding-left: .625rem;
  padding-right: .625rem;
  border-radius: 0.25rem;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.grey-badge {
  @include badge;
  background: $grey-100;
  color: color.scale($grey-900, $blackness: 25%);
}

.blue-badge {
  @include badge;
  background: $primary-100;
  color: color.scale($primary-900, $blackness: 25%);
}

.amber-badge {
  @include badge;
  background: $amber-100;
  color: color.scale($amber-900, $blackness: 25%);
}

.green-badge {
  @include badge;
  background: $green-100;
  color: color.scale($green-900, $blackness: 50%);
}

.red-badge {
  @include badge;
  background: $red-100;
  color: color.scale($red-900, $blackness: 50%);
}
