<div class="photoswipe-gallery" id="{{ id }}">
  {% for image in images %}
  {% set meta = get_image_metadata(path=image) %}
  {% set thumb = resize_image(path=image, width=300, height=300, op="fit_height", format="png", quality=100) %}
  {% set thumb_retina = resize_image(path=image, width=600, height=600, op="fit_height", format="png", quality=100) %}
  <a href="{{ get_url(path=image) }}" data-pswp-width="{{ meta.width }}" data-pswp-height="{{ meta.height }}" data-cropped="true" target="_blank">
    <img src="{{ thumb.url | safe }}" srcset="{{ thumb_retina.url }} 2x" alt="" />
  </a>
  {% endfor %}
</div>
