{% set gallery_id = "gallery-" ~ images[0] %}
{% if popout and popout == true %}
<figure class="popout">
{% else %}
<figure>
{% endif %}


  {% if caption %}<figcaption>{{ caption }}</figcaption>{% endif %}
</figure>

<div class="photoswipe-gallery" id="{{ gallery_id }}">
  {% for image in images %}
  {% set image_path = page.colocated_path ~ image %}
  {% set meta = get_image_metadata(path=image_path) %}
  {% set thumb = resize_image(path=image_path, width=300, height=300, op="fit_height", format="webp", quality=60) %}
  {% set thumb_retina = resize_image(path=image_path, width=600, height=600, op="fit_height", format="webp", quality=60) %}
  <a href="{{ image_path }}" data-pswp-width="{{ meta.width }}" data-pswp-height="{{ meta.height }}" data-cropped="true" target="_blank">
    <img src="{{ thumb.url | safe }}" srcset="{{ thumb_retina.url }} 2x" alt="" />
  </a>
  {% endfor %}
</div>
