{% set gallery_id = "gallery-" ~ path %}
<figure class="{{ class }}">
  {% set image_real_path = page.permalink ~ path %}
  {% set image_raw_path = page.colocated_path ~ path %}
  {% set meta = get_image_metadata(path=image_raw_path) %}
  <div id="{{ gallery_id }}">
    <a href="{{ image_real_path | safe }}" data-pswp-width="{% if width %}{{width}}{% else %}{{ meta.width }}{% endif %}" data-pswp-height="{% if height %}{{height}}{% else %}{{ meta.height }}{% endif %}" target="_blank">
      <img src="{{ image_real_path }}" {% if padding %}class="padding"{% endif %} />
    </a>
  </div>
  {% if caption %}<figcaption>{{ caption | markdown | safe }}</figcaption>{% endif %}
</figure>
