{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}

<div class="homepage">
  <div class="homepage-gutter-left"></div>
  <div class="homepage-content">
    <div class="research-posts">
      {{ macros::section(section_path="research/events/_index.md") }}
      {{ macros::section(section_path="research/comp-arch/_index.md") }}
      {{ macros::section(section_path="research/eda-cad-vlsi/_index.md") }}
      {{ macros::section(section_path="research/blog/_index.md") }}
    </div>
    <p>I'm a PhD student in the EECS department at UC Berkeley advised by Prof. Bora Nikolic.</p>

    <p>I work in the areas of <a href="https://github.com/ucb-bar/chipyard">design</a> <a href="https://github.com/ucb-bar/hammer">methodology</a>, hardware modeling and verification, ML for DV, and power modeling. In the past, I have built a <a href="https://github.com/vighneshiyer/simcommand">high-performance monadic RTL testbench API</a>, designed a <a href="https://github.com/TsaiAnson/verif">VIP and random generator library</a> for a <a href="https://github.com/ucb-bar/chiseltest">testing framework for Chisel circuits</a>, built RTL coverage prediction models, and explored specification mining for bug localization.</p>
  </div>
  <div class="homepage-gutter-right"></div>
</div>
{% endblock content %}
