{% macro page_summary(page) %}
  <div class="page">
    <h3 class="page-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h3><span class="page-date"><time datetime="{{ page.date | date(format="%+") }}">{{ page.date | date(format="%B %Y") }}</time></span>
    {% if page.extra.new %}
      <span class="badge-new">NEW</span>
    {% endif %}
    <div class="page-description">{{ page.description | markdown | safe }}</div>
  </div>
{% endmacro page_summary %}

{% macro section(section_path) %}
  <div class="section">
    {% set section = get_section(path=section_path) %}
    <div class="section-header">
      <h2 class="section-title">{{ section.title }}</h2><span class="section-description">{{ section.description }}</span>
    </div>
    {% for page in section.pages %}
      {{ macros::page_summary(page=page) }}
    {% endfor %}
  </div>
{% endmacro section %}
